<form
  #login="ngForm"
  class="bg-white p-6 m-6 rounded-md shadow flex flex-col gap-y-4"
>
  <div>
    <label class="block text-gray-500 text-sm font-bold mb-2" for="email">
      Email
    </label>
    <input
      type="text"
      name="email"
      class="block w-full p-4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none sm:text-sm sm:leading-6"
      placeholder="Enter email ..."
      [(ngModel)]="email"
      required
    />
  </div>
  <div>
    <label class="block text-gray-500 text-sm font-bold mb-2" for="username">
      Password
    </label>
    <input
      type="text"
      name="password"
      class="block w-64 p-4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none sm:text-sm sm:leading-6"
      placeholder="Enter password ..."
      [(ngModel)]="password"
      required
    />
  </div>
  <button
    [disabled]="login.invalid"
    type="submit"
    class="flex w-full justify-center rounded-md bg-indigo-400 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-300 disabled:opacity-50"
  >
    Login
  </button>
</form>
