<div
  [ngClass]="{
    'border-red-200 bg-red-100': todoItem.status === 'important',
    'border-green-200 bg-green-100': todoItem.status === 'completed'
  }"
  class="flex justify-between gap-x-2 p-6 my-2 rounded-md border-solid border-2 border-sky-100"
>
  <p>
    <span *ngIf="todoItem.status === 'completed'"> ✔️ </span>
    <span *ngIf="todoItem.status === 'important'">❗ </span>
    <span [ngClass]="{ 'line-through': todoItem.status === 'completed' }">{{
      todoItem.title
    }}</span>
  </p>
  <div class="flex gap-x-4">
    <select
      name="status"
      class="bg-transparent"
      [value]="todoItem.status"
      (change)="updateStatusTodo($event)"
    >
      <option value="normal">normal</option>
      <option value="important">important</option>
      <option value="completed">completed</option>
    </select>
    <button (click)="deleteTodo()">❌</button>
  </div>
</div>
