<div
  class="mt-10 text-gray-500 p-10 m-6 flex justify-center flex-row flex-wrap gap-2"
>
  <img src="../../../assets/images/about.jpg" />
  <div class="flex flex-col justify-center">
    <h2 class="text-xl font-bold text-gray-700">Welcome to Todo App!</h2>
    <h2 class="py-4">What can I do in this app?</h2>
    <ul class="pl-8">
      <li>📝 Create and delete todos</li>
      <li>📌 Manage todos status</li>
      <li>🗂 Filter todos by name and status</li>
      <li>🕶 BUT all this awesome features is available after log in</li>
    </ul>
    <h2 class="py-4">How do I log in?</h2>
    <ul class="pl-8">
      <li>Email: <b>chandler@bing.com</b></li>
      <li>Password: <b>password</b></li>
    </ul>
  </div>
</div>
