<form
  #addTodo="ngForm"
  (submit)="onSubmit()"
  (reset)="onReset()"
  class="flex gap-x-2"
>
  <input
    type="text"
    name="text"
    class="block w-60 p-4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:outline-none sm:text-sm sm:leading-6"
    placeholder="Title substring ..."
    [(ngModel)]="titleSubstring"
    required
  />
  <select
    [(ngModel)]="status"
    (change)="changeStatus($event)"
    name="status"
    class="block w-f10 p-4 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:outline-none sm:text-sm sm:leading-6"
  >
    <option value="null" disabled selected>Select status ...</option>
    <option value="normal">normal</option>
    <option value="important">important</option>
    <option value="completed">completed</option>
  </select>
  <button
    type="submit"
    class="flex w-full justify-center rounded-md px-2 py-1.5 text-sm font-semibold leading-6 text-green-400 shadow-sm border border-2 border-green-300 hover:bg-green-50"
  >
    Filter
  </button>
  <button
    type="reset"
    class="flex w-full justify-center rounded-md px-2 py-1.5 text-sm font-semibold leading-6 text-red-400 shadow-sm border border-2 border-red-300 hover:bg-red-50"
  >
    Reset
  </button>
</form>
